@charset "utf-8";

body{
   font-family: sans-serif;
}


h1 {font-size:60px;
   color:white;
}

p {font-size:45px;
  color:white;
  text-align: center;
}

.headline{
    text-align:center;
}
body {
    background-color: #486d46;            /* 背景色 */
    background-image: url("../images/haike.jpg"); /* 画像 */
    background-size: cover;               /* 全画面 */
    background-attachment: fixed;         /* 固定 */
    background-position: center center;   /* 縦横中央 */
 }
div {
    text-align: center;
 }
    button{
       font-size: 100px;
       display: inline-block;
       position: relative;
       padding: 100px 150px;
       text-decoration:none;
       background: #FF99FF;
       color: azure;
       border-bottom:solid 10px #FF55FF;
       border-right: solid 10px #FF00FF;
 }
 button:before{
    content: " ";
    position: absolute;
    bottom: -5px;
    left: -1px;
    width: 0;
    height: 0;
    border-width: 0 6px 6px 0px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color:#FFF;
 }
 button::after{
    content:" ";
    position: absolute;
    top: -1px;
    right: -5px;
    width: 0;
    height: 0;
    border-width: 0px 6px 6px 0px;
    border-style: solid;
    border-color: #FFF;
    border-bottom-color:transparent;
 }
 button:active{
    border: none;
    -webkit-transform: translate(6px,6px);
    transform:  translate(6px,6px);
 }
 button:active::after,button:active:before{
    content: none;
 }